@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: rgb(148, 218, 233);
    padding: 10px;
    border-radius:10px;
}

.container{
    padding: 10px;

}

.bookcontainer{
    text-align: left;
    width: 25%;
    background-color: black;
    color:whitesmoke;
    margin: 30px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;

}

.bookcontainer h3{
    color: rgb(148, 218, 233);
}

.bookcontainer button{
    margin-top: 10px;
    background-color: rgb(36, 194, 230);
    color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.plus{
    background-color:  rgb(36, 194, 230);
    color: black;
    border-radius: 100%;
    padding: 10px;
    border-color: black;
    font-size: 40px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    text-align: right;
}
.popup{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: none;
}

.popupbox{
    background-color:  rgb(36, 194, 230);
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}
.popupbox input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popupbox textarea{
    background: transparent;

    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}
.popupbox button{
    background-color:black ;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
}
.popupbox input::placeholder{
    color: black;
}
.popupbox input:focus{
    outline: none;
}
.popupbox textarea:focus{
    outline: none;
}
